$left-margin: 40px;

.user_item {
  p {
    margin-left: $left-margin;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -$left-margin / 2;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid $white;
      @include shadow;
      background: $green;
    }

    &.active {
      &::before {
        background: $green;
      }
    }

    &.nonActive {
      &::before {
        background: $red;
      }
    }
  }
}
