@import 'components/App';
@import 'components/MessageForm';
@import 'components/MessageList';
@import 'components/UserForm';
@import 'components/UsersList';
@import 'components/MessageBlob';

// MIXINS
@import 'mixins/rwd';

// COMPONENENTS
@import 'components/chat-container';
@import 'components/chat-block';
@import 'components/active-users-block';
@import 'components/nav';

body {
  background: yellow;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  color: green;
  font-size: 40px;
  font-weight: 900;
}
.test {
  color: red;
}
